/*全局字体设置*/
*{
	font-family:"Open Sans","Arial","宋体" ;
	font-size: 14px;
}
body{
	margin:5px;
}
input, select {
	border: 1px solid #95B8E7;
	background-color: #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	height: 20px;
	width: 120px;
}
input[type='file'] {
	height: 24px;
	border: none;
	border-radius:5px;
}
input[type='checkbox'],input[type='radio'] {
	height: auto;
	width:auto;
	border:none;
}
textarea{
    border: 1px solid #95B8E7;
    border-radius: 5px 5px 5px 5px;
}
.required {
	color : red;
}
.btn{
	padding:3px 8px;
	cursor: pointer;
	border: 1px solid #bbb;
    border-radius: 5px;  
	color: #444;
	background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
}
.btn:hover {
    background: #eaf2ff;
    color: #000000;
    border: 1px solid #b7d2ff;
    filter: none;
}

.tabs-panels>.panel>.panel-body{
	overflow:hidden;
}

#searchHead{
	height: auto !important;
	margin-bottom:5px;
	padding:5px 0px;
}
#searchHead div{
	display:inline-block;
}

/*搜索栏*/
.searchHead{
	height: auto !important;
	margin-bottom:5px;
	padding:5px 0px;
}
.searchHead div{
	display:inline-block;
}

#editWin table{
	margin:6px;
	border-spacing:5px;
}
#editWin input[id], #editWin select[id]{
	width:200px;
}


#editWin input[multiline]{
	height:100px;
}

.toolbarDiv{
	float:left;
}

.searchArea, .inlineBlock {
	height: auto !important;
	margin-bottom:5px; 
	padding:5px;
}

.searchArea div, .inlineBlock div {
	display:inline-block;
	margin-right:5px;
	margin-top:5px;
}

.searchArea .searchBtnArea {
	width:160px;
}

.searchArea .easyui-linkbutton {
	width:45%;
}

.dialog-button {
	text-align: center;
}

.dialog-button .easyui-linkbutton {
	width:74px;
}

.easyui-datebox, .easyui-filebox {
	width:134px;
}

input {
	width:134px;
}

select {
	width:138px;
}

/** easyui 字体fix*/
.tree-title, .tabs-title, .panel-title{
	font-size: 14px;
}

/** 不显示最后一页分页按钮 */
.datagrid-pager td:nth-child(9){
	display:none;
}

/**font awesone fix*/
.panel-icon.fa{
	margin-top: -8px !important;
	left: 3px !important;
}

.tree-icon.fa {
	background: none;
	padding-top: 3px;
}
