@charset "UTF-8"

*{
	font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif !important
}
.error {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.error-label{
	display: inline-block;
	color: #95B8E7;
	font-size: 40px;
}
.error-info{
	display: inline-block;
	text-align: left;
}