@charset "UTF-8"

.layout-panel-west .panel-body{
	width:100% !important;
 	min-width: 200px;
}
.navbar{
	background-color:#95B8E7;
	color:#fff;
	padding: 10px 0px;
	height:auto !important;
	background-image:url(../img/banner.png);
}
.navbar-container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.navbar-brand{
	font-size:20px !important;
	font-weight:bold;
	padding: 10px 20px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.navbar-title{
	font-size:25px !important;
	font-weight:bold;
	letter-spacing: 5px;
  	text-align: center;
  	margin: 0;
}

.navbar-info{
	display: inline-block;
	position: absolute;
  	top: 20px;
	right: 10px;
}

.navbar-info a {
  	padding: 0px 5px;
  	color: #fff;
}
.navbar-user{
	background: url(../img/icon-user.png) left no-repeat;
  	background-size: 15px;
  	padding-left: 20px;
  	display: inline-block;
  	font-size: 12px !important;
}
.footer{
	text-align: center;
}
#menuTree{
	margin-bottom: 30px;
}

.tree-icon.edit{
	background:transparent url("../img/template.png") no-repeat center center / contain;
}
.tree-icon.muti{
	background:transparent url("../img/muti.png") no-repeat center center / contain;
}
.tree-icon.corp-stmt{
	background:transparent url("../img/corp-stmt.png") no-repeat center center / contain;
}
.tree-icon.receipt{
	background:transparent url("../img/receipt.png") no-repeat center center / contain;
}
.tree-icon.search{
	background:transparent url("../img/search.png") no-repeat center center / contain;
}
.tree-icon.add-reply{
	background:transparent url("../img/add-reply.png") no-repeat center center / contain;
}