.layout-panel-west .panel-body{
	width:100% !important;
 	min-width: 200px;
}
.navbar{
	background-color:#95B8E7;
	color:#fff; 
	padding: 10px 0px;
	height:auto !important;
}
.navbar-container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.navbar-title{
	font-size:25px !important;
	font-weight:bold;
	letter-spacing: 5px;
  	text-align: center;
  	margin: 0;
}
.navbar-info{
	display: inline-block;
	position: absolute;
  	top: 20px;
	right: 10px;
}
.navbar-info a {
  	padding: 0px 5px;
  	color: #fff;
}
.navbar-user{
	background: url(../img/icon-user.png) left no-repeat;
  	background-size: 15px;
  	padding-left: 20px;
  	display: inline-block;
  	font-size: 12px !important;
}
#menuTree{
	margin-bottom: 30px;
}
.easyui-linkbutton {
	margin:20px auto;
	width:70%;
}