<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.dengjian.gomars.**.web" />
	
	<!--默认的mvc注解映射的支持 -->
    <context:annotation-config />
    
    <bean class="com.dengjian.gomars.common.json.SerializeConfigFactoryBean"></bean>
    
    <mvc:annotation-driven>
    	<mvc:message-converters register-defaults="true">
   			<bean class="com.dengjian.gomars.common.json.FastJsonHttpMessageConverter">
		    </bean>
    	</mvc:message-converters>
    </mvc:annotation-driven>
	
	<!-- prop文件读取器 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:env.properties" />
		<property name="fileEncoding" value="UTF-8" />
	</bean>

    <!-- 视图解析器和json解析器 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/" /> <!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="com.dengjian.gomars.common.json.FastJsonView" >
   				</bean>
            </list>
        </property>
    </bean>
    
    <!-- 文件上传解析器 --> 
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="-1"/>
    </bean>

    <!-- 异常处理器 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView">
            <value>error-json</value>
        </property>
        <property name="defaultStatusCode">
            <value>500</value>
        </property>
        <!--  
        <property name="exceptionMappings">  
	        <props>  
	            <prop key="java.lang.Exception">404</prop>    
	        </props>  
	    </property>
	    -->
        <property name="warnLogCategory">
            <value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver
            </value>
        </property>
    </bean>
    
    
	
	<!-- ehcache缓存过滤器，缓存http请求 -->
	<!--  
	<bean id="httpCacheFilter" class="com.dengjian.gomars.common.filter.HttpCacheFilter"/>
	-->
	<!-- webService过滤器
		将形如：/ws/ws-query/method/{jsonparam}的url，
		映射为：/query/method.do的Post请求，并将json入参中所有项转化为request中的请求
	 -->
	 <!--  
	<bean id="webServiceFilter" class="com.dengjian.gomars.base.filter.WebServiceFilter"/>
	-->
	
    <!-- 对静态资源文件的访问 -->
    <!--  
    <mvc:resources location="/lib/" mapping="/lib/**" cache-period="31556926" />
    <mvc:resources location="/assets/" mapping="/assets/**" cache-period="31556926" />
    -->

</beans>