.dialog-table {
	margin:20px 20px;
}
.dialog-table input,select{
	width:151px;
}
.dialog-table input,select,textarea{
	margin:0;
	border: 1px solid #A4BED4;
}

.index-table{
	margin:20px 20px;
}
.index-table tr{
	line-height:30px;
}
.index-table input{
	width:150px;
}
.index-table select{
	width:153px;
}
table{
	-webkit-user-select: none;
	-moz-user-select: none;
	font-size:12px;
}
.drop-div{
	position:absolute;
	z-index:1000;
	padding-left:20px;
	padding-right:10px;
	height:20px;
	line-height:20px;
	font-size:16px;
	border:1px solid #afc0d8;
	box-shadow: 2px 2px 2px #888888;
	background-color:#fff;
	display:none;
}

.report-info{
	margin:0;
	height:30px;
	list-style:none;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 5px;
	-moz-margin-before: 1em;
	-moz-margin-after: 1em;
	-moz-margin-start: 5px;
	-moz-margin-end: 5px;
	-moz-padding-start: 0px;
}
.report-info li{
	float:left;
	margin-right:30px;
	font-size:14px;
	padding:10px 5px;
}
.info-button {
	line-height: 18px;
	padding: 5px 5px;
	font-size: 14px;
	border-radius: 3px;
	border:1px solid #A4BED4;
	color: #000;
	text-decoration: none;
}
.info-button:hover{
	border:1px solid #dcb57c;
	background-color:#ffefb1;
	cursor:pointer;
}

#centerDiv{
	position:relative;
}

.toolbar{
	z-index:100;
	width:100%;
	min-width:850px;
	height:30px;
	margin:0;
	background: #e2ebf6;
	display: block;
	list-style:none;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 5px;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start: 5px;
}
.toolbar li{
	float:left;
}
.toolbar-select{
	margin-top: 5px;
	width:100px;
	font-size:14px;
}
.toolbar-button {
	line-height: 20px;
	padding: 2px 4px;
	font-size: 16px;
	margin: 2px 0;
	border-radius: 3px;
	border:1px solid #e2ebf6;
}
.toolbar-button:hover{
	border:1px solid #dcb57c;
	background-color:#ffefb1;
	cursor:pointer;
}
.toolbar-img{
	float:left;
	margin-top:2px;
	width:20px;
	height:24px;
	border-radius: 3px;
	border:1px solid #e2ebf6;
}
.toolbar-img:hover{
	border:1px solid #dcb57c;
	background-color:#ffefb1;
	cursor:pointer;
}
.square-img{	
	margin-top:2px;
	float:left;
	width:24px;
	height:24px;
	border-radius: 3px;
	border:1px solid #e2ebf6;
}
.square-img:hover{
	border:1px solid #dcb57c;
	background-color:#ffefb1;
	cursor:pointer;
}

.color-img{
	float:left;
	width:20px;
	height:24px;
	border-radius: 3px;
	border:1px solid #e2ebf6;
}
.color-img:hover{
	border:1px solid #dcb57c;
	cursor:pointer;
	background-color:#ffefb1;
}
.color-span{
	position:absolute;
	margin-top:19px;
	margin-left:3px;
	width:16px;
	height:4px;
}
.down-img{
	float:left;
	width:9px;
	height:24px;
	border-radius: 3px;
	border:1px solid #e2ebf6;
}
.down-img:hover{
	border:1px solid #dcb57c;
	cursor:pointer;
	background-color:#ffefb1;
}
.bounding-box{
	margin-top:1px;
	height: 26px;
	border-radius: 3px;
	border:1px solid #e2ebf6;
}
.bounding-box:hover{
	border:1px solid #dcb57c;
	cursor:pointer;
}
.excel-clear{
	float:left;
	width:24px;
	height: 26px;
	background-image:url(../../img/designer/excel_clear.png);
	background-repeat:no-repeat;
	border:1px solid #e2ebf6;
}
.excel-clear:hover{
	border:1px solid #dcb57c;
	cursor:pointer;
	background-color:#ffefb1;
}

.toolbar-menu{
	position:absolute;
	z-index:1000;
	width:100px;
	height:80px;
	border:1px solid #afc0d8;
	box-shadow: 2px 2px 2px #888888;
	background-color:#fff;
	text-align:left;
	display:none;
}
.toolbar-menu div{
	padding-left:30px;
	border-radius:3px;
	border:1px solid #fff;
	line-height:24px;
}
.toolbar-menu div:hover{
	border:1px solid #dcb57c;
	background-color:#ffefb1;
	cursor:pointer;
}
.color-picker{
	position:absolute;
	z-index:1000;
	width:210px;
	height:160px;
	border:1px solid #afc0d8;
	box-shadow: 2px 2px 2px #888888;
	background-color:#fff;
	display:none;
}
.picker-header{
	margin:2px 2px;
	text-align:center;
	width:204px;
	height:20px;
	line-height:20px;
	border:1px solid #fff;
	border-radius:3px;
}
.picker-header:hover{
	border:1px solid #dcb57c;
	background:#ffefb1;
	cursor:pointer;
}
.current-active{
	border:1px solid #dcb57c;
	background:#ffefb1;
}
.color-bounding{
	float:left;
	margin:2px 2px;
	width:20px;
	height:20px;
	border:1px solid #fff;
	border-radius:3px;
}
.color-bounding:hover{
	border:1px solid #dcb57c;
	background:#ffefb1;
	cursor:pointer;
}
.color-block{
	margin:3px 3px;
	width:12px;
	height:12px;
	border:1px solid #888888;
	background:#f00;
}

.edit-cell-div{
	z-index:10;
	background-color:#ecf2fa;
	border:1px solid #99bbe8;
	width:100%;
	height:26px;
}
.selected-cell-text{
	width:100px;
	float:left;
	text-align:center;
	font-size:14px;
	margin-top:2px;
}

.eidt-cell-text{
	width:98%;
	margin-top:2px;
}

#excelDiv{
	overflow:hidden;
	position:absolute; 
	top:57px; bottom:0px; 
	left:0px;
	right:0px
}

.red-area{
	background-color:#FFE4E1 !important;
}
.red-current{
	background-color:#FFE4E1 !important;
}


.align-left-img{
	background-image:url(../../img/designer/align_left.png);
	background-repeat:no-repeat;
}
.align-right-img{
	background-image:url(../../img/designer/align_right.png);
	background-repeat:no-repeat;
}
.align-center-img{
	background-image:url(../../img/designer/align_center.png);
	background-repeat:no-repeat;
}
.vertical-top-img{
	background-image:url(../../img/designer/vertical_top.png);
	background-repeat:no-repeat;
}
.vertical-middle-img{
	background-image:url(../../img/designer/vertical_middle.png);
	background-repeat:no-repeat;
}
.vertical-bottom-img{
	background-image:url(../../img/designer/vertical_bottom.png);
	background-repeat:no-repeat;
}
.align-fill-img{
	background-image:url(../../img/designer/fill_color.png);
	background-repeat:no-repeat;
}
.align-font-img{
	background-image:url(../../img/designer/font_color.png);
	background-repeat:no-repeat;
}
.align-font-img{
	background-image:url(../../img/designer/font_color.png);
	background-repeat:no-repeat;
}
.border-outside-img{
	background-image:url(../../img/designer/border_outside.png);
	background-repeat:no-repeat;
}
.border-all-img{
	background-image:url(../../img/designer/borders_all.png);
	background-repeat:no-repeat;
}
.border-none-img{
	background-image:url(../../img/designer/border_none.png);
	background-repeat:no-repeat;
}
.down-pointer-img{
	background-image:url(../../img/designer/down_pointer.png);
	background-repeat:no-repeat;
}

.align-undo-img{
	background-image:url(../../img/designer/redo.png);
	background-repeat:no-repeat;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.align-redo-img{
	background-image:url(../../img/designer/redo.png);
	background-repeat:no-repeat;
}
.merge-cells{
	background-image:url(../../img/designer/merge_cells.png);
	background-repeat:no-repeat;
}
.unmerge-cells{
	background-image:url(../../img/designer/unmerge_cells.png);
	background-repeat:no-repeat;
}
.inser-row-above{
	background-image:url(../../img/designer/inser_row_above.png);
	background-repeat:no-repeat;
}
.inser-col-left{
	background-image:url(../../img/designer/insert_col_left.png);
	background-repeat:no-repeat;
}
.delete-row{
	background-image:url(../../img/designer/delete_row.png);
	background-repeat:no-repeat;
}
.delete-col{
	background-image:url(../../img/designer/delete_col.png);
	background-repeat:no-repeat;
}
.apply-comma-format{
	background-image:url(../../img/designer/apply_comma_format.png);
	background-repeat:no-repeat;
}
.apply-percentage-format{
	background-image:url(../../img/designer/apply_percentage_format.png);
	background-repeat:no-repeat;
}
.function-library{
	background-image:url(../../img/designer/function_library.png);
	background-repeat:no-repeat;
}

